<!DOCTYPE html>
<html>
    <head>
        <%- include("./head.ejs") %>
        <script>
            function search(){
                location.href='/search'
            }
        </script>
    </head>
    <body>
        <button onclick="location.href='/regist'" class="btn btn-primary">등록</button>
        <button onclick="search()" class="btn btn-success">조회</button>
    </body>
</html>